{% extends 'todo/base.html' %}
{% block main_content %}
{% load static %}

<style>
	*{
		list-style: none;
		padding: 0;
		margin: 0;
		box-sizing: border-box;
	}
	
	.nav-link{ 
      color: black;
		}
	
	.btn-primary{
		border: transparent !important;
	}

	.signup-button{
		margin-top: 40px;
		width:60%;
		background:linear-gradient(to right,white, rgb(87, 7, 235)) ;
		color: white;
	}
	.signup-button:hover{
		background:linear-gradient(to right,rgb(87, 7, 235), white) ;
		color: white;
	}
	.already-last-line{
		margin-top: 20px;
		color: rgb(83, 81, 81);
	}
	.already-last-line a{
		color: rgb(87, 7, 235);
	}


/* ////////////////////////////////////////// */

	.wave{
		position: fixed;
		height: 90%;
		left: 0; bottom: 0;
		z-index: -1;
	}
	.container{
		display: flex;
		flex-direction: column;
		width: 100vw;
		justify-content: space-between;
		padding: 0;
	}
	.img{
		display: flex;
		justify-content: flex-end;
		align-items: center;
	}
	.img img{
		width: 100px;
	}	
	.signup-container{
		display: flex;
		flex-direction: column;
		margin-left: auto;
	}

</style>

<img class="wave" src='{% static "todo/login base image purple.svg" %}' alt="">
<div class="container">
	<div class="img">
		<img src='{% static "todo/profile avatar purple.svg" %}' alt="">
	</div>
	<div class="signup-container">
		<div class="form-group">
			<form method="POST">
				{% csrf_token %}
				{{form.as_p}}	
			
				<button class="btn btn-primary signup-button" type="submit">Login</button>	
			</form>
			<h6 class='already-last-line'>
				Create an account? 
				<a href="{% url 'signupuser' %}">Sign Up</a>
			</h6>
		</div>
	</div>
</div>

{% endblock %}
