{% extends 'todo/base.html' %}
{% block main_content %}
{% load static %}

<style >
	body{
		background-color: #8076a3
	}
</style>

<div align="center">
<h1> {{todo.title}} </h1>

<form method="POST">

	{% csrf_token %}
	{{form.as_p}}

 <button class='btn btn-primary btn-md' type='submit'>Save</button>

</form>
<form method="POST" action="{% url 'completetodo' todo.id  %}">
	{% csrf_token %}
<br>
 <button class='btn btn-primary btn-md' type='submit'>Complete</button>
</form>
<br>
<form method="POST" action="{% url 'deletetodo' todo.id  %}">
	{% csrf_token %}

 <button class='btn btn-primary btn-md' type='submit'>Delete</button>
</form>
</div>


{% endblock %}





